body {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.3)),
        url('../img/fondo.png');
    font-family: 'Abel', Arial, sans-serif;
    margin: 2rem;
    padding: 2rem;
    max-width: 1200px;
}

.contenedor-general {
    max-width: 1700px;
    margin: 0 auto;
}

.contenedor {
    /* todos los h1 */
    color: rgb(118, 222, 231);
    background-color: rgb(1, 10, 47);
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    border-width: 6px;
    border-block-width: 6px;
    font-size: 50px;
    text-align: center;
    max-width: 30rem;
    margin: auto;
}

.parrafo-titulo {
    font-size: 25px;
}

.encabezados {
    /* h2, h3, h4 */
    color: rgb(118, 222, 231);
    background-color: rgb(1, 10, 47);
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    border-width: 6px;
    border-block-width: 6px;
    text-align: left;
    margin: 2rem;}

/* medidas y margen de h2 */
.w1 { width: 65%;}
.w2 { width: 58%;}
.w3 { width: 50%;}
.w4 { width: 21%;}
.w5 { width: 29%;}
.w6 { width: 38%;}
.w7 { width: 34%;}

.titulo-chico {
    /* h2 */
    font-size: 23px;
}

.titulo-normal {
    /* h2 */
    font-size: 26px;
}

.parrafo {
    /* todos los parrafos */
    color: rgb(255, 255, 255);
    background-color: rgb(1, 10, 47);
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    border-width: 6px;
    border-block-width: 7px;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 5rem;
}


.cita {
    /* cita de autor INDEX */
    margin-right: 61rem;
    font-size: 23px;
    text-align: center;
    width: 40%;
}

.clases {
    /* parrafos de INDEX, OBRAS y  */
    width: 30rem;
}

.p1art {
    width: 38rem;
}

.p2art {
    width: 38rem;
    margin-top: 4rem;
}

.p1obras {
    width: 38rem;
}

.p2obras {
    margin-top: 10rem;
    width: 34rem;
}

.galeria {
    /* posición de fotos en OBRAS */
    display: flex;
    gap: 30px;
    border: 6px solid rgb(1, 10, 47);
    border-radius: 3px;
    width: 600px;
    height: 400px;
    margin-left: 2rem;
    margin-top: 15rem;
}

.galeria2 {
    width: 350px;
    height: 450px;
    margin-left: 15rem;
    margin-top: 20px;
}

.posicion-fotos {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.video {
    /* posición del video en IA */
    border: 4px solid rgb(1, 10, 47);
    border-radius: 5px;
    width: 560px;
    height: 315px;
    margin-left: 30rem;
}

.article1 {
    /* posición de parrafos en INDEX */
    display: flex;
    gap: 5%;
    align-items: flex-start;
    width: 45%;
}

.div {
    /* div en IA */
    display: flex;
}

span {
    /* nombre de artista en negrita */
    color: rgb(255, 255, 255);
    font-weight: bold;
}

span:hover,
cite:hover,
a:hover {
    /* nombre de artista, obras y mail colores */
    color: rgb(118, 222, 231);
}


a {
    /* color de enlaces nav y mail */
    color: rgb(255, 255, 255);
}


#nav {
    /* barra de navegación */
    color: rgb(255, 255, 255);
    background-color: rgb(1, 10, 47);
    margin-right: 86%;
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    border-width: 1px;
    border-block-width: 7px;
    font-size: 22px;
    display: flex;
    gap: 32px;
    list-style-type: square;
    width: 23rem;
    margin: 3rem;
}

.ul-obras {
    /* lista de OBRAS */
    background-color: rgb(1, 10, 47);
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    color: white;
    font-size: 21px;
    width: 60rem;
    margin: 3rem;
}

footer {
    /* pie de las páginas */
    color: rgb(255, 255, 255);
    background-color: rgb(1, 10, 47);
    border: 4px solid rgb(1, 10, 47);
    border-radius: 3px;
    border-width: 6px;
    border-block-width: 7px;
    font-size: 22px;
    text-align: left;
    margin: 3%;
    width: 27rem;
}